* {
    box-sizing: border-box;
  }
  
body {
    background: url(img/tlo.png);
    /* This patern from www.subtlepatterns.com  */
    color: #fff;
    font-family: 'Lato', sans-serif;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-size: 19px;
  } 
    
*/

/* App container*/

.app-container {  
    width: 500px;
    padding: 25px;
    margin-top: 30px;
    text-align: center;
}

.rectangle{   
    margin-right: 20px;
    width: 500px;
    height: 100px;
    padding: 25px;
    text-align: center;
    font-weight: 800;    
} 

#timer{
    font-weight: 700;
    font-size: 55px;
}

.app-container {
    margin: 0 0 25px;
    font-size: 25px;
}

span{
    color: red;
}

input[type = text]{
    width: 365px;
    height: 50px;
    background-color:#efefef;
    color: #566;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 17px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    margin-top: 10px;
    margin-left: 4px;
    margin-right: 4px;
    border: none;
}

input[type=text]:focus{
    -webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
    -moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
    box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
    border: 2px solid #ebb513;
    color: #000000;
}

button[type=submit]{   
    width: 125px;
    min-width: 70px;
    height: 50px;
    font-size: 16px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    margin-top: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    background-color: #ebb513;
    color: black;
    cursor: pointer;
    border: none;
}

button[type=submit]:active{
    -webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
    -moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
    box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
}

button{
    min-width: 70px;
    height: 50px;
    background-color: #efefef;
    font-size: 15px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    margin-top: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

button:active{
    -webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
    -moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
    box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
}

/* New task */

.new-task-container{
    margin-bottom: 20px;
}

/* Tasks list */

.tasks-container ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.single-task{
    margin-bottom: 12px;
}

